.menu-div {
    width: 10vw;
    height: 10vw;
    background: rgb(63, 63, 63);
    position: fixed;
    top: 0px;
}
.vertical-seperator-line {
    width: 0.2vw;
    height: 10vw;
    position: fixed;
    background: white;
    top: 0px;
}
#hamburger-menu {
    left: 0vw;
}
.line {
    width: 8vw;
    height: 1vw;
    position: absolute;
    background: white;
    left: 1vw;
    transition: all 0.25s ease-in-out;
}
#line-1 {top: 2vw;}
#line-2 {top: 4.5vw;}
#line-3 {top: 7vw;}
.open #line-1 {
    transform: translate(0, 2.5vw) rotate(-45deg);
}
.open #line-2 {
    opacity: 0;
}
.open #line-3 {
    transform: translate(0, -2.5vw) rotate(45deg);
}
.option {
    width: 100vw;
    height: 10vw;
    position: fixed;
    background: rgb(63, 63, 63);
    top: 0px;
    left: 0px;
}
.seperator-line {
    width: 100vw;
    height: 0.2vw;
    position: absolute;
    background: white;
    top: 9.9vw;
    left: 0px;
}
#menu-seperator {
    position: fixed;
}
.option-image {
    width: 6vw;
}
.option-text {
    font-size: 6vw;
    margin: 2vw;
    color: white;
    text-decoration: none;
}
#option-1 {transition: all 0.0625s linear;}
.open #option-1 {top: 10vw;}
#option-2 {transition: all 0.125s linear;}
.open #option-2 {top: 20vw;}
#option-3 {transition: all 0.1875s linear;}
.open #option-3 {top: 30vw;}
#option-main-1 {
    display: grid;
    align-items: center; 
    grid-template-columns: 10vw 90vw;
    column-gap: 5px;
    width: 100vw;
    padding-left: 2vw;
}
#option-main-2 {
    display: grid;
    align-items: center; 
    grid-template-columns: 10vw 90vw;
    column-gap: 5px;
    width: 100vw;
    padding-left: 2vw;
}
#option-main-3 {
    display: grid;
    align-items: center; 
    grid-template-columns: 10vw 90vw;
    column-gap: 5px;
    width: 100vw;
    padding-left: 2vw;
}
#logo {
    width: 90vw;
    height: 10vw;
    background: rgb(63, 63, 63);
    position: fixed;
    top: 0px;
    left: 10vw;
    text-align: center;
    vertical-align: middle;
    line-height: 10vw;
}
#logo-text {
    font-size: 8vw;
    color: white;
    margin: 0;
}
#logo-seperator {left: 9.9vw;}
#site-cover {
    width: 100vw;
    height: 100vh;
    background: black;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    pointer-events: none;
}
.open #site-cover {
    opacity: 0.25;
    pointer-events: auto;
}
.gradient-shadow {
    width: 100vw;
    height: 5vw;
    position: fixed;
    top: 10vw;
    left: 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    pointer-events: none;
}
#menu-shadow {
    opacity: 0;
    transition: all 0.25s linear;
}
.open #menu-shadow {
    top: 30vw;
    opacity: 1;
}
@media screen and (min-aspect-ratio: 8/9) {
    .mobile-only {
        opacity: 0;
        pointer-events: none;
    }
    #menu-spacer {
        height: 5vw;
    }
    .desktop-only {
        opacity: 1;
        pointer-events: auto;
    }
    .vertical-seperator-line {
        height: 5vw;
    }
    #option-1 {
        left: 15vw;
    }
    #option-1-seperator {
        left: 39.9vw;
    }
    #option-1:hover {
        background: rgb(95, 95, 95);
    }
    #option-2 {
        left: 40vw;
    }
    #option-2-seperator {
        left: 64.9vw;
    }
    #option-2:hover {
        background: rgb(95, 95, 95);
    }
    #option-3 {
        left: 65vw;
    }
    #option-3-seperator {
        left: 89.9vw;
    }
    #option-3:hover {
        background: rgb(95, 95, 95);
    }
    .option {
        width: 25vw;
        height: 5vw;
        text-align: left;
    }
    .option-image {
        width: 3vw;
        top: 1vw;
        position: absolute;
    }
    .option-text {
        font-size: 2vw;
        top: -2vw;
        left: 5vw;
        position: absolute;
    }
    #logo {
        width: 15vw;
        height: 5vw;
        left: 0px;
        background-color: rgb(0, 127, 255);
        line-height: 5vw;  
    }
    #logo-text {
        font-size: 3vw;
    }
    #filler {
        width: 10vw;
        height: 5vw;
        background: rgb(63, 63, 63);
        position: fixed;
        top: 0px;
        left: 90vw;
    }
    #de {
        width: 4vw;
        top: 0.5vw;
        right: 0.5vw;
    }
    #en {
        width: 4vw;
        top: 5vw;
        right: 0.5vw;
    }
    #logo-seperator {
        height: 5vw;
        left: 14.9vw;
    }
    .seperator-line {
        top: 4.9vw;
    }
    .gradient-shadow {
        top: 5vw;
    }
}