#hero {
    height: 20vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/stock/link-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero-text {
    color: white;
}
.block {
    text-align: left;
    padding-top: 5vw;
    padding-bottom: 5vw;
    padding-left: 5vw;
    opacity: 1;
}
.licenses {
    padding-top: 0;
    padding-bottom: 0;
}
.source {
    color: black;
}
#h1-1 {
    padding-top: 0;
    padding-bottom: 0;
}
@media screen and (min-aspect-ratio: 8/9) {
    body {
        font-size: 1vw;
    }
    #hero{
        height: 10vw;
    }}